{% extends 'base.html' %}
{% block content %}


<!-- Header-->
<header class="py-5"  style= "background-color: #02214f;">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to Master Cart!</p>
        </div>
    </div>
</header>


<div class = "container">
    <div class="row">
        <center>
            <div class="col-8">
                <br/><br/>
                <p align="justify">
                At Master Cart, we are passionate about transforming your online shopping experience. Founded by T. Sai Charan and B. Koteswara Rao, two second-year Computer Science students at IIT BHU, Varanasi, we are committed to providing a diverse range of high-quality products at competitive prices while ensuring exceptional customer service.
<br/><br/>
Our Mission
<br/><br/>
Our mission is to empower our customers by offering a convenient online shopping platform where they can discover, compare, and purchase the products they love. We strive to make online shopping accessible and hassle-free, ensuring that every customer finds exactly what they are looking for.
<br/><br/>
What We Offer
<br/><br/>
Master Cart is your one-stop shop for a wide variety of products, including electronics, fashion, home goods, and more. We carefully curate our collection to ensure that every item meets our high standards for quality and value. Our user-friendly website allows you to browse products easily, read detailed descriptions, and make informed purchasing decisions.
<br/><br/>
Why Choose Us?
<br/><br/>
Wide Selection: From the latest gadgets to timeless fashion pieces, we have something for everyone.
<br/>
Competitive Prices: We work hard to ensure that our prices remain competitive without compromising quality.
<br/>
Secure Shopping: Your security is our priority. Shop with confidence knowing that your personal information is protected.
<br/>
Fast Shipping: We understand that you want your purchases as quickly as possible. That’s why we offer reliable shipping options to get your orders to you swiftly.
<br/>
Customer Support: Our dedicated customer support team is here to help you with any questions or concerns you may have. Your satisfaction is our top priority.
<br/><br/>
Join Our Community
<br/><br/>
We invite you to join the Master Cart community! Stay updated with the latest product launches, exclusive offers, and shopping tips by subscribing to our newsletter or following us on social media.
<br/><br/>
Thank you for choosing Master Cart as your trusted online shopping destination. We look forward to serving you and helping you find exactly what you need!
<br/><br/>
Happy Shopping!
<br/><br/>
</p>
            </div>
        </center>
    </div>
</div>
{% endblock %}